fastapi
uvicorn
pydantic
openai
langdetect
python-multipart
PyPDF2
python-docx
chromadb
dotenv
python-dotenv
transformers
huggingface-hub
tokenizers
requests
tqdm
regex
numpy
lxml
safetensors
filelock
packaging
httpx
httpcore
starlette
typing-extensions
